.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/domain/build
/usecase/build
/data/build
/datasource/build
/commons/build
/presentation/build
